* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f3f7;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-family: cursive;
}

.sized-container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: -webkit-xxx-large;
  font-size: -xxx-large;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 40rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu span {
  display: flex;
  gap: 0.5rem;
  font-weight: bolder;
  align-items: center;
}

.menu-options span p {
  color: crimson;
}

.menu-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  font-weight: bolder;
  border: 1px solid rgba(128, 128, 128, 0.395);
  padding: 0.5rem;
  border-radius: 0.2rem;
  align-items: center;
}

.menu-container #reset {
  text-decoration: underline;
  cursor: pointer;
  padding: 0.1rem 0.3rem;
}

.menu-container #reset:hover {
  background-color: rgba(0, 0, 0, 0.087);
  border-radius: 0.2rem;
}

.menu-options {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.winner-container p {
  display: flex;
  gap: 0.5rem;
}

.winner-success-color {
  color: rgb(13, 178, 13);
}

.winner-failure-color {
  color: crimson;
}

.winning-cell {
  position: relative;
  background-color: white;
}

.winning-cell::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #66ff66;
  /*transform: translateY(-50%) rotate(-35deg);*/
  transform: translateY(-50%) rotate(var(--win-rotate-deg, 0deg));
  pointer-events: none;
}



.winning-cell .cell:hover {
  background-color: transparent;
  cursor: default;
}

.winning-cell.horizontal::after {
  --win-rotate-deg: 0deg; /* Horizontal line */
}

.winning-cell.vertical::after {
  --win-rotate-deg: 90deg; /* Vertical line */
}

.winning-cell.diagonal1::after {
  --win-rotate-deg: 40deg; /* Vertical line */
}

.winning-cell.diagonal2::after {
  --win-rotate-deg: -40deg; /* Vertical line */
}

.tic-tac-toe {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  cursor: pointer;
}

.cell {
  border: 1px solid rgba(128, 128, 128, 0.395);
  height: 100%;
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: -webkit-xxx-large;
  font-size: -xxx-large;
}

.cell:hover {
  background: linear-gradient(135deg, #79f1a4, #0e5cad);
  border-radius: 0.2rem;
  color: white;
}

.row #cell-1,
.row #cell-4,
.row #cell-7 {
  border-top: none;
  border-left: none;
  border-right: none;
}

.row #cell-3,
.row #cell-6,
.row #cell-9 {
  border-top: none;
  border-left: none;
  border-right: none;
}

.row #cell-7,
.row #cell-9,
.row #cell-8 {
  border-bottom: none;
}

.row #cell-2,
.row #cell-5,
.row #cell-2,
.row #cell-8 {
  border-top: none;
}

footer {
    padding: 0.5rem;
  border-top: 1px solid rgba(128, 128, 128, 0.395);
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}

@media only screen and (max-width: 350px) {
  .menu-container,
  .menu-options {
    flex-direction: column;
    gap: 0.5rem;
  }
}
